header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid #f3efe8;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topLogo {
  color: #D29628;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-size: 15px;
  font-weight: 600;
  color: #1b160e;
  margin: 0 20px;
  cursor: pointer;
}

.btn {
  padding: 10px 16px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.btn-yellow {
  background-color: #df9f1f;
  color: #1b160e;
}

.btn-light {
  background-color: #f3efe8;
  color: #1b160e;
}

/* FOOTER */
footer {
  width: 100%;
  background: white;
  border-top: 1px solid #e6dfd1;
  padding: 40px 20px;
  text-align: center;
  z-index: 100;
}


.btm-nav-link {
  margin: 0 80px;
  font-size: 34px;
  font-weight: 500;
  color: #947D4F;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.btm-nav-link:hover {
  color: #df9f1f;
}
