.off-screen-menu {
  background-color: white;
  height: 100vh;
  width:100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
}

.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* tryck till vänster */
}
.ham-menu {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
}


.ham-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #e9ae41;
  border-radius: 2px;
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 8px;
}

.ham-menu span:nth-child(2) {
  top: 18px;
}

.ham-menu span:nth-child(3) {
  top: 28px;
}


.ham-menu.open span:nth-child(1) {
  transform: translate(-50%, 50%) rotate(45deg);
  top: 50%;
}

.ham-menu.open span:nth-child(2) {
  opacity: 0;
}

.ham-menu.open span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}










.nutri-header {
  display: grid;
  grid-template-areas: "menu logo login";
    grid-template-columns: 1fr auto 1fr;

  align-items: center;
  height: 64px;
  padding: 0 1rem;
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 2px solid #eee;
}

/* 🔵 Vänstra grid-rutan (Meny) */
.menu {
  background-color: none;
    grid-area: menu;

}

/* 🟡 Mitten (Logo) */
.logo {
  background-color: none;

  text-align: center;
    grid-area: logo;

}

.logo img {
  max-height: 35px;
  display: inline-block;
}

/* 🔴 Högra grid-rutan (Login) */
.login {
  background-color: none;
  text-align: right;
    grid-area: login;

}

.menu-btn {
  font-size: 20px;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #D29628;
  cursor: pointer;

}

.login a {
  font-size: 20px;
  text-decoration: none;
  color: #D29628;
  padding: 0.5rem;
}

@media (max-width: 390px) {
  .nutri-header {
    grid-template-areas: "logo menu"; /* 🔁 BYTER plats på logga och meny */
    grid-template-columns: 1fr auto;
  }

  .login {
    display: none;
  }

  .logo {
    text-align: left; /* Loggan nu till vänster */
  }

  .menu {
    text-align: right; /* Menyknapp nu till höger */
  }
}









/* FOOTER */
footer {
  width: 100%;
  background: white;
  border-top: 1px solid #e6dfd1;
  padding: 40px 20px;
  text-align: center;
  z-index: 100;
}


.btm-nav-link {
  margin: 0 80px;
  font-size: 34px;
  font-weight: 500;
  color: #947D4F;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.btm-nav-link:hover {
  color: #df9f1f;
}

.btn-nav-login {
  background-color: #e69e2d; /* Orange color */
  color: #1b160e;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 9999px; /* Fully rounded */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
